@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

body {
  background-color: #ffffff !important;
}
.hide-scrollbar {
  overflow: -moz-scrollbars-none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* View Transition Animation */
::view-transition-old(root) {
  animation: slide-out 0.3s forwards ease-in-out;
}

::view-transition-new(root) {
  animation: slide-in 0.3s forwards ease-in-out;
}

/* Keyframes for the sliding effect */
@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes progress-animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.spinner {
  /* border: 5px solid #e6e6e6a2; */
  /* give border bottom on inline */
  /* border-bottom-color: #578E7E; */
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* For slider dots */

.slick-dots li {
  width: 10px; /* Adjust width */
  margin: 0 5px; /* Adjust spacing */
}

.slick-dots li button:before {
  font-size: 6px; /* Adjust dot size */
  color: gray; /* Default dot color */
}

.slick-dots li.slick-active button:before {
  color: black; /* Active dot color */
  font-size: 10px;
}